.headline {
  margin: 1rem auto !important;
  width: fit-content !important;
}

.homepage {
  width: 60%;
  height: fit-content;
  border: 1px solid #b6b6b6;
  border-radius: 20px;
  margin: 2rem auto;
  padding: 30px;
}

.header-img {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}

.homepage .author span {
  color: coral;
}

.homepage .media img {
  width: 145px;
  height: 85px;
  border-radius: 10px;
}

.homepage ul{
    list-style-type: disclosure-closed;
}

.link {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 15px;
    transition: 500ms;
}

.link a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.link:hover{
    background-color: #f95454;
    transform: translateY(-10px);
}

.link a:hover{
    color: white;
    text-decoration: none;
}