body{
  background-color: black !important;
  color: white !important;
}

nav a{
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
}

.form-control{
  background-color: black !important;
}